@charset "utf-8"

/*
	OLIVIDA Start Page CSS
	
	Author: Livid <v2ex.livid@me.com>
	Web: http://picky.olivida.com/
	
	This is the preferred look-n-feel for our start page.
	
	The best way to wipe IE6 from this planet is to forget it all since the beginning of your every new project.
*/

html {
	height: 100%;
}

body {
	padding: 0px;
	margin: 0px;
	font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "STHeiti";
	background-color: #e2e2e2;
	min-width: 900px;
	background-image: url("back.png");
}

a:link, a:visited, a:active {
	color: #1c7fdb;
	text-decoration: none;
}

a:hover {
	color: #1785eb;
	text-decoration: underline;
}

a.orange:link, a.orange:visited, a.orange:active {
	color: #ff9900;
	text-decoration: none;
}

a.orange:hover {
	color: #e18700;
	text-decoration: underline;
}

/* IDs */

#Root {
	width: 800px;
	height: 100%;
	margin: 20px auto 30px auto;
	margin-bottom: 20px;
	padding: 10px;

	clear: both;

	border:1px solid; 
	border-color:#e5e5e5 #dbdbdb #d2d2d2; 
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 3px; 
	-moz-box-shadow:rgba(0,0,0,0.3) 0 1px 3px; 
	box-shadow:rgba(0,0,0,0.3) 0 1px 3px;
	border-radius:4px; 
	/*-webkit-border-radius:4px; */
	/*-moz-border-radius:4px; */
	-o-border-radius:4px; 
	-khtml-border-radius:4px;
	background-color: #fff;
	border-radius: 10px;
	border: 2px solid rgba(0,0,0,0.05);
	font-size: 15px;
/*	-webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);*/
}

/**** Clearfix ****/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#Bottom {
	width: 800px;
	margin: 0px auto 20px auto;
	font-size: 10px;
	color: #fff;
	padding: 5px 10px 0px 10px;
	text-align: right;
}

/* CLASSes */

.col3 { width: 110px; }
.col3 img { max-width: 110px; }
.box {
  margin: 5px;
  padding: 5px;
  background: #D8D5D2;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.box h2 {
  font-size: 14px;
  font-weight: 200;
}

.bar{
	width: 800px;
	height:auto;
	margin: 30px auto 0px auto;
	padding: 10px;


	background-color: #fff;
	border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px; -khtml-border-radius:4px;
	background:#fff; border:1px solid; border-color:#e5e5e5 #dbdbdb #d2d2d2; -webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 3px; -moz-box-shadow:rgba(0,0,0,0.3) 0 1px 3px; box-shadow:rgba(0,0,0,0.3) 0 1px 3px; 
}

.item {
  width: 220px;
  margin: 10px;
  float: left;
}

.sep {
	margin: 10px 0px 10px 0px;
	border-top: 1px solid #f0f0f0;
}

.column {
/*	width: 120px;
	margin: 10px;
	float: left;
	font-size: 12px;
	margin-right: 10px;
	background-color: #f9f9f9;
	padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);*/
	margin: 5px;
  	padding: 5px;
  	background: #f9f9f9;
  	font-size: 11px;
  	line-height: 1.4em;
  	float: left;
  	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
          border-radius: 5px;
}

.column img { max-width: 110px; }

.column_title {
	color: #ccc;
	font-size: 10px;
	font-weight: bold;
}

.clear {
	clear: both;
}

ul.nav {
	padding: 0px;
	margin: 6px 0px 0px 0px;
	list-style: none;
}

ul.nav li {
	padding: 4px 0px 0px 0px;
	font-size: 14px;
}

.sl {
	padding: 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 400px;
	font-size: 16px;
	color: #000;
	background-color: #fff;
	border: 1px solid #ccc;
	font-family: "Panic Sans", Luxi Mono, "Courier New", Monaco;
}

.olive {
	color: #3b3;
}

.super.button {
	/*background-image: url("/static/img/bg_blended.png");*/
	padding: 4px 15px 4px 15px;
	border: 1px solid rgba(0,0,0,.25);
	border-bottom-color: rgba(0,0,0,.35);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	font-size: 12px;
	line-height: 12px;
}

.normal.button { background-color: #fff; color: #333; text-shadow: 0px 1px 1px #fff; text-decoration: none; font-weight: bold; }
.normal.button:hover { background-color: #f0f0f0; color: #333; text-shadow: 0px 1px 1px #fff; text-decoration: none; text-decoration: none; font-weight: bold; cursor: pointer; }